<header id="mainhead">
	<div>
		<div class="column one-quarter">
			<nav id="collapse-nav" class="show-phone">
				<a id="mobile-menu" href="#"><i class="fa fa-bars"></i></a>
				<div class="menu-overlay">
					<ul>
					<li><a href="/season.html">Season & Tickets</a></li>
					<li><a href="/musicians.html">Artists</a></li>
					<li><a href="/about.html">About</a></li>
					<li><a href="http://blog.tertulianyc.org/" target="_blank">Blog</a></li>
					<hr>
					<li><a href="/restaurants.html">For Restaurants</a></li>
					<li><a href="/support.html">Support</a></li>					
					<li><a href="/contact.html">Contact</a></li>
				</ul>
				</div>
			</nav>
			<h1 id="logo"><a href="/">Tertulia</a></h1>
		</div>
		<div class="column three-quarters">
			<nav id="main-nav" class="hide-phone">
				<ul>
					<li><a href="/season.html">Season & Tickets</a></li>
					<li><a href="/musicians.html">Artists</a></li>
					<li><a href="/about.html">About</a></li>
					<li><a href="http://blog.tertulianyc.org/" target="_blank">Blog</a></li>
					<li><a class="muted" href="/restaurants.html">For Restaurants</a></li>
					<li><a class="muted" href="/support.html">Support</a></li>					
					<li><a class="muted" href="/contact.html">Contact</a></li>
					<li class="social"><a class="muted" href="http://instagram.com/tertulianyc"><i class="fa fa-instagram"></i></a></li>
					<li class="social"><a class="muted" href="https://twitter.com/tertuliaNYC"><i class="fa fa-twitter"></i></a></li>
					<li class="social"><a class="muted" href="https://www.facebook.com/tertuliachambermusic"><i class="fa fa-facebook"></i></a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>