---
layout: default
---

  <section class="event-intro" id="decoda" style="background:url({{ page.feature }}) center center no-repeat;background-size:cover;">
		<div class="intro-title">
			<div class="row clearfix">
				<div class="column full">
					<h2>{{ page.concertDate | date: "%b %-d, %Y | %-I %p" }}</h2>
					<h3>{{ page.location }} | {{ page.address }}</h3>
					<a href="#tickets" class="button raised-button action-button accent"><i class="fa fa-ticket"></i></a>
				</div>
			</div>
		</div>
	</section>
  <section id="event-program">
    <h2 class="section-title">{{ page.title }}</h2>
    <div class="row clearfix">
      <div class="column two-thirds push-sixth">
        <div class="row clearfix">
        {{ content }}
        </div>
      </div>
    </div>
  </section>
  {% if page.eventbrite %}
  <section id="tickets">
		<h2 class="section-title">Tickets</h2>
		<div class="row clearfix">
			<div class="column two-thirds push-sixth">
        <div style="width:100%; text-align:left;" ><iframe src="{{ page.eventbrite }}" frameborder="0" height="500" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe></div>
      </div>
    </div>
  </section>
  {% endif %}
